# Supabase
SUPABASE_URL=https://kdjkuysisxduonrcadmg.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtkamt1eXNpc3hkdW9ucmNhZG1nIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzI2MDg2MCwiZXhwIjoyMDg4ODM2ODYwfQ.b-INq1D7Aa3aKu11v0Wkc1mYF1cWlhnD-_FKR4OVJ3Y

# Optional: limit scraping for testing
MEP_TEST_LIMIT=
ACTOR_TEST_LIMIT=
